.banner {
  height: 90vh;
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.637),
      transparent,
      transparent
    ),
    url(https://images.unsplash.com/photo-1557495235-340eb888a9fb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2602&q=80);
  background-position: center;
  background-size: cover;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  right: 0;
}

.banner-h1 {
  font-weight: 1000;
  margin: 0.4rem;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px black;
  font-family: $font-text;
}

/*@media (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
}*/

@media (max-width: 800px) {
  .banner-container {
    padding: 10rem;
    right: 0;
  }

  .banner-h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .banner-container {
    padding: 10rem;
    right: 0;
  }
  .banner-h1 {
    font-size: 2.5rem;
  }
}
