.carousel-container {
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

  .btn__see-all {
    outline: none;
    border: none;
    display: block;
    width: 15%;
    background: transparent;
    cursor: pointer;
    align-self: flex-end;
    font-family: $font-text;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
		padding: 0.3rem;

    a {
      color: inherit;
      text-decoration: none;
      font-family: $font-text;
    }
  }
  
}

.rec {

    /// Carousel Arrow styling: 
    .rec-arrow, 
    .rec-arrow-right,
    .rec-arrow-left {
      background-color: $primary !important;
      border-radius: 15%;
    }

  /// Carousel Arrow styling:
  .rec-arrow,
  .rec-arrow-right,
  .rec-arrow-left {
    background-color: $primary !important;
    border-radius: 10px;
  }


  .khvUfi:hover:enabled,
  .khvUfi:focus:enabled {
    background-color: $primary-light !important;
  }

  //Pagination Styling (3 dots under the Carousel)

  .jJKuoL:hover,
  .jJKuoL:focus,
  .gQIqMI:hover,
  .gQIqMI:focus {
    box-shadow: 0 0 1px 3px lighten($primary, 10%);
  }

  .ejXxNI {
    background-color: $primary !important;
    box-shadow: 0 0 1px 3px $very-dark-grey;

    &:hover {
      background-color: lighten($primary, 10%) !important;
      box-shadow: 0 0 1px 3px lighten($primary, 10%);
    }
  }

  .jJKuoL {
    background-color: $primary !important;
    box-shadow: 0 0 1px 3px $primary-light;
  }
  .rec-pagination {
    @media (max-width: 710px) {
      display: none;
    }
  }
}
