.rec {
    .rec-carousel-item {
        margin: 1rem;
    }
    .rec-arrow, 
    .rec-arrow-right,
    .rec-arrow-left {
      background-color: $primary;
      border-radius: 15%;
      &:active {
        background-color: red;
      }
      &:visited {
        background-color:black;
      }
      &:link {
        background-color:orange;
      }
      &:hover {
        background-color: lighten($primary, 10%);
      }
    }

    .ejXxNI {
      background-color: $primary;
      box-shadow: 0 0 1px 3px $very-dark-grey;

      &:hover {
        background-color: lighten($primary, 10%);
        box-shadow: 0 0 1px 3px lighten($primary, 10%);
      }
    }

    .jJKuoL {
        background-color: $primary;
        box-shadow: 0 0 1px 3px $primary-light;
    }
    .rec-pagination {
      @media (max-width: 710px) {
        display: none;
      }
    }
  }