.categories {
  max-width: fit-content;
  margin: -7.5rem auto 3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: $very-light-grey;
  display: flex;
  justify-content: space-around;
  padding: 3rem 3rem 2rem 3rem;

  * + * {
    margin-left: 2rem;
  }

  &-btn {
    display: block;
    margin-bottom: 0.4rem;
    border-radius: 10px;
    background-color: $primary;
    padding: 2rem;
    color: $very-light-grey;
    cursor: pointer;
    transition: 0.2s;

    &:hover,
    &:focus {
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }

    .icon {
      width: 10rem;
    }
  }
}
