* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f6cccc;
  height: 10%;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

aside {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.copy p {
  color: #1f1f1f;
  text-decoration: none;
  padding-left: 20px;
}
.social .footerstyle {
  margin-left: 10px;
  font-size: 3rem;
  color: #1f1f1f;
  text-decoration: none;
  padding-right: 20px;
  flex-wrap: wrap;
}

.help ul {
  display: flex;
  padding-right: 20px;
  text-decoration: none;
}
.help ul li {
  list-style: none;
  padding-right: 20px;
}
.help ul li a {
  font-size: 1.3rem;
  color: #1f1f1f;
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  .social .footerstyle {
    font-size: 3rem;
  }
  .help ul li a {
    font-size: 1.5rem;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .copy {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  .social {
    display: flex;
    order: 3;
    margin-left: auto;
    margin-right: auto;
  }
  .help {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
}