.filterElement{
    display:inline-block;
   
    
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: 500;
     background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    box-shadow: 0px 3px 10px rgba(71, 85, 106, 0.1);
    border-radius: 12px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position:relative;
}

.filterContainer{
    padding:20px 0px;
}

.filtericon{
    padding-left:15px !important;
}

.dropdown{
    position:absolute;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    box-shadow: 0px 3px 10px rgba(71, 85, 106, 0.1);
    border-radius: 12px;
    padding: 10px 20px;
    min-width: max-content;
    margin-top:15px;
    left:0px;
}
.filter-dropdown-hidden{
    display:none;
}

