// Navbar styling for LOGGED-IN USER

.nav__list-item {
    margin: 0 .3em;
}

.nav__link {
    i {
        margin-left: .5em;
    }
}
.nav__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-family: $font-text;
        letter-spacing: 2px;
    }

}
.nav__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .3em;
}

    
.nav__user-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--highlighted {
    background-color: $primary;
    border-radius: 10px;
    color: $very-dark-grey;
    transition: all .3s ease-in-out;
    padding: .8em;

    &:hover {
        background-color: $primary-light;
    }

    &:hover::after {
        transform: scaleX(0);  
    }
}