.cards {
     display: grid;
     gap: 1rem;   
}

button {
    outline: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.card {
    background-color: rgba(180, 175, 175, 0.541);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 1fr auto;
    border-radius: 20px;

    // DESKTOP:
    @media (min-width: 56em) {
        grid-template-columns: 300px repeat(2, 1fr);
        grid-template-rows: 1fr auto;
    }

    

    &__image {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-image: url('../../images/karsten-winegeart-oU6KZTXhuvk-unsplash.jpg');
        background-size: cover;
        background-position: center center;
        border-radius: 20px;

        @media (min-width: 56em) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
        }
    }

    &__content {
        grid-column:  1 / 3;
        grid-row: 2 / 3;
        padding: 1.5rem;

    }
    &__content--top {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 0.75rem;
        line-height: 1.1;

    }
    &__like--icon {
        width: 1.3rem;
        height: 1.3rem;
    }
    &__description {
        font-size: 1rem;
        line-height: 1.5;
    }

    &__location {
        padding: 1.5rem;
        display: flex;                      
        font-size: .9rem;
        line-height: 1;
    }
    &__location--icon {
        grid-column: 1/2;
        grid-row: 3/4;
        width: .9rem;
        height: .9rem;
    }
    &__location--name {
        grid-column: 2/3;
        grid-row: 3/4;
        padding-left: .9rem;
    }
    
}
