.card {
    background-color: rgba(180, 175, 175, 0.541);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px 1fr auto;
    border-radius: 20px;

    &__image {
        background-image: url('../../images/charles-deluvio-pOUA8Xay514-unsplash.jpg');
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    &__content {
        
    }
    &__content--top {

    }
    &__title {

    }
    &__like--icon {
        width: 2rem;
        height: 2rem;
    }
    &__description {

    }
    &__location {

    }
    &__location--icon {
        width: 2rem;
        height: 2rem;
    }
    &__location--name {

    }
    
}
