// when the user is logged in

.nav__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

    
.nav__user-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--highlighted {
    background-color: $primary;
    border-radius: 15px;
    color: $very-dark-grey;
    transition: all .3s ease-in-out;
    padding: .8em;

    &:hover {
        background-color: $primary-light;
    }

    &:hover::after {
        transform: scaleX(0);  
    }
}


  