.account-nav {
    &__list {
        display: flex;
        &-item {
          list-style-type: none;
        }
      }

      &__link {
        text-decoration: none;
        color: inherit;
        display: inline-block;
        padding: 0.5rem;
        position: relative;
        font-family: $font-text;
        letter-spacing: 2px;
        font-size: 0.9rem;
      
        // responsible for the line under links
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 1rem;
          right: 1rem;
          height: 2px;
          background-color: $very-dark-grey;
          transform: scaleX(0);
          transition: transform 150ms ease-in-out;
        }
      
        &:hover::after {
          transform: scaleX(1);
        }
      }
}