// Navbar for when the user is logged in

.nav__list-item {
    margin: 0 .3em;
}

.nav__link {
    i {
        margin-left: .5em;
    }
}
.nav__user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        font-size: 0.9rem;
        text-transform: uppercase;
        font-family: $font-text;
        letter-spacing: 2px;
    }

}
.nav__user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .3em;
}

    
.nav__user-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--highlighted {
    background-color: $primary;
    border-radius: 15px;
    color: $very-dark-grey;
    transition: all .3s ease-in-out;
    padding: .8em;

    &:hover {
        background-color: $primary-light;
    }

    &:hover::after {
        transform: scaleX(0);  
    }
}

// Account dashboard:
.account__container {
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: $very-light-grey;
    height: 70vh;
    // margin-top: 15vh;
    padding: 2rem;

    .account-nav {
        &__list {
            display: flex;
            &-item {
              list-style-type: none;
            }
          }

          &__link {
            text-decoration: none;
            color: inherit;
            display: inline-block;
            padding: 0.5rem;
            position: relative;
            // text-transform: uppercase;
            font-family: $font-text;
            letter-spacing: 2px;
            font-size: 0.9rem;
          
            // responsible for the line under links
            &:after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 1rem;
              right: 1rem;
              height: 2px;
              background-color: black;
              transform: scaleX(0);
              transition: transform 150ms ease-in-out;
            }
          
            &:hover::after {
              transform: scaleX(1);
            }
          }
    }

}


  