*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $very-light-grey;
  color: $very-dark-grey;
  font-family: $font-text;
  font-size: 1.6rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  min-height: 77vh;
}

.app-container {
  margin-top: 65px;
}

.text-center {
  text-align: center;
}

.form-style {
  padding: 30px;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 3rem;
  // min-height: 82vh;
}

a {
  text-decoration: none;
}
