
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
    margin: 0;
}

html {
     font-family: $font-text;
}

body {
    background-color: $very-light-grey;
    color: $very-dark-grey;
    line-height: 1;
}

a, a:visited {
  color: $very-dark-grey;
  text-decoration: none;
}


footer,
header,
nav,
section,
main {
  display: block;
}


ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}
  .container {
    max-width: 1660px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 0 1em;
  }