@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Sansita:wght@400;700;800;900&display=swap");

$primary: #f76c6c;
$very-dark-grey: #1f1f1f;
// $dark-grey: #1f1f1f;
$primary-light: #f6cccc;
$very-light-grey: #f5f4f6;
$light-grey: #e9e9e9;

$font-headline: "Sansita", sans-serif;
$font-text: "Poppins", sans-serif;
