.ad-card {
	// width:max-content;
	max-width: 320px;
}

.ad-actions {
	text-align: right;
	margin-top: 10px;
	width: 100%;
}

.ad-btn-edit {
	margin-bottom: 10px !important;
	width: 100%;
}

.ad-btn-delete {
	width: 100%;
}
