.ad-card{
   
}

.ad-actions{
    text-align: right;
    margin-top: 10px;
    width:100%;

}

.ad-btn-edit{
    width:100%;
    margin-bottom: 10px !important;
  
   
}

.ad-btn-delete{
 width:100%;

}