.pet {
    &__container {
        p {
            font-size: 1.1rem;
        }

        .button {
            outline: none;
            border: none;
            display: block;
            width: 15%;
            background: transparent;
            cursor: pointer;
            font-family: $font-text;
            box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.2);
            border-radius: 10px;
            margin-bottom:2rem;
            padding: .3rem;
                a {
                color: inherit;
                text-decoration: none;
                font-family: $font-text;
                }
            }
        }

    &__content-container {
        display: flex;
        justify-content: space-between;
    }
    &__info-container {
        flex: 2;
    }

    &__image-container {
        height: 30vh;
        width:100%;
        border-radius: 10px;
        object-fit: cover;
        object-position:50% 50%;
        background-size: cover;
        background-position: center center;
        margin: 0 1rem;

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            object-position:50% 50%;
            background-size: cover;
            background-position: center center;
        }
    }

    &__info-data-container {
        display: flex;
        margin: 1rem 0;
    }
    

    &__info-data {
        font-weight: bold;
        margin-right: 1rem;
    }

    &__info-data-about {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1em 0;
        width: 90%;

        &:before {
            content: '';
            position: absolute;
            background-color: $primary;
            width: 100%;
            height: 2px;
            top: -8px;
            left: 0;

        }
        
    }

    .owner {
        &__container {
            background-color: $primary-light;
            flex: 1;
            border-radius: 10px;
        }
        
        &__icons {
            display: flex;
            justify-content: space-around;
            .fas {
                font-size: 3rem;
            }
            p {
                text-align: center;
            }
            &__icon-container {
                display: flex;
            }
        }
    }
    
    
}