// User account dashboard:
.account__container {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: $very-light-grey;
  padding: 2rem;
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // will delete this margin-top after merging with Julia
  max-width: 50vw;
  margin: 10vh auto;

  p {
    font-size: 1.3rem;
  }

  a {
    color: $primary;
  }

  .btn {
    outline: none;
    border: none;
    background-color: $primary;
    border-radius: 10px;
    color: $very-dark-grey;
    transition: all 0.3s ease-in-out;
    padding: 0.5em;
    margin: 0.5em 1.5rem;
    display: block;
    font-size: 1.5rem;
    width: 30%;
    color: $very-light-grey;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    font-family: $font-text;

    &__post {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    i {
      align-self: center;
    }

    a {
      color: $very-light-grey;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      font-family: $font-text;
    }
  }

  // image styling
  .profile-img-container {
    margin: 5rem 5rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .img-container {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .fa-user-circle {
        font-size: 12rem;
      }
    }
    .upload-text {
      margin: 0.5rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
