// User account dashboard:
.account__container {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  background-color: $very-light-grey;
  padding: 3rem;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // will delete this margin-top after merging with Julia
  max-width: 50vw;
  margin: 12rem auto;

  .one-line {
    display: flex;
    justify-content: space-between;
    .one-line-item {
      width: 49%;
    }
  }

  p {
    font-size: 1.3rem;
    margin: 2rem;
  }

  a {
    color: $primary;
    margin-right: 0.5rem;
  }

  .btn {
    outline: none;
    border: none;
    background-color: $primary;
    border-radius: 10px;
    color: $very-dark-grey;
    transition: all 0.3s ease-in-out;
    padding: 0.5em;
    margin: 0.5em 1.5rem;
    display: block;
    font-size: 1.5rem;
    width: 30%;
    color: $very-light-grey;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: $font-text;

    &__post {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      align-self: center;
    }

    a {
      color: $very-light-grey;
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      font-family: $font-text;
    }
  }

  // image styling
  .profile-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
    .img-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
    }
    .img-container {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      .fa-user-circle {
        font-size: 12rem;
      }
    }
    .upload-text {
      margin: 0.5rem;
      font-size: 1.4rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $bp-small) {
  .account__container {
    max-width: 90%;

    .one-line {
      display: flex;
      flex-direction: column;
      .one-line-item {
        margin: 5px 0;
        width: 100%;
      }
    }
    .btn {
      width: 45%;
    }
  }
}

@media screen and (max-width: $bp-xsmall) {
  .account__container {
    .profile-img-container {
      margin: 0 0.5rem;
      h1 {
        margin: 0.5rem;
      }
    }
  }
}
